
/* Your CSS Code here. */
*{
	border-boxing:border-box;
	margin:0px;
	padding:0px;
}
.holder{
	display:grid;
	grid-template-columns:repeat(2,100px);
	grid-template-rows: repeat(2,100px);
	grid-auto-flow:dense;
}

